/*Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* Estilos de la index.html */
.calculator {
    height: 100dvh;
    padding: 30px;
    /* GRID 7 / 1 */
   display: grid;
    grid-template-columns: repeat(4, 1fr);
  }  
  .calculator_buttons {
    display: flex;
  justify-content: center;
  gap: 20px;
  }

